<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.loanchian"/>
	<context:annotation-config />

	<!--
		网络配置
		主网 org.loanchian.network.MainNetworkParams
		测试网络 org.inchain.network.TestNetworkParams
		单元测试网络 org.inchain.network.UnitNetworkParams
	-->
	<bean id="network" class="org.loanchian.network.MainNetworkParams">
		<property name="blockStoreProvider" ref="blockStoreProvider"/>
	</bean>
</beans>
